<div>
  <div>
    <h1>
      Welcome to <%= @the_joined_group.meeting.title %>!
    </h1>

    <div>
      <div>
        <a href="/joined_groups">
          Go back
        </a>
      </div>

    </div>

    <dl>

      <dt>
        Meeting ID
      </dt>
      <dd>
        <%= @the_joined_group.meeting_id %>
      </dd>

      <dt>
        Group Leader
      </dt>
      <dd>
        <%= @the_joined_group.meeting.user.first_name.capitalize + " " + @the_joined_group.meeting.user.last_name.capitalize %>
      </dd>

      <dt>
        Meeting Time
      </dt>
      <dd>
          <%= @the_joined_group.meeting.meeting_time %>
      </dd>

      <dt>
        Meeting Location
      </dt>
      <dd>
          <%= @the_joined_group.meeting.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_joined_group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_joined_group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user.id == @the_joined_group.meeting.user.id %>

<div>
  <div>
    <h2>
      Edit Group
    </h2>

    <form action="/modify_joined_group/<%= @the_joined_group.id %>"  method="post" >

      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_joined_group.meeting.title %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_joined_group.meeting.location %>">
      </div>

      <div>
        <label for="meeting_time_box">
          Meeting time
        </label>

        <input type="datetime-local" id="meeting_time_box" name="query_meeting_time" value="<%= @the_joined_group.meeting.meeting_time %>">
      </div>

      <button>
        Update joined group
      </button>
    </form>

      <div>
        <a href="/delete_joined_group/<%= @the_joined_group.id %>">
          Delete joined group
        </a>
      </div>

  </div>
</div>

<hr>

<%else%>

<%end%>