<div>
  <div>
    <h1>
      Welcome to <%= @the_meeting_group.title %>!
    </h1>

    <div>
      <div>
        <a href="/meeting_groups">
          Go back
        </a>
      </div>

    </div>

      <% if @current_user != nil %>
      <% current_user_joined_group = @current_user.joined_groups.where({ :meeting_id => @the_meeting_group.id }) %>

      <% the_joined_group = current_user_joined_group.at(0) %>

      <% if the_joined_group == nil %>
        <form action="/insert_joined_group" method="post">      
          <input type="hidden" name="query_meeting_group_id" value="<%= @the_meeting_group.id %>">

          <button>Join this Group!</button>
        </form>
      <% else %>
        <a href="/delete_joined_group/<%= @the_meeting_group.id %>">
          Leave Group
        </a>
      <% end %>
    <% end %>

    <dl>
      <dt>
        Group Leader
      </dt>
      <dd>
        <%= @the_meeting_group.user.first_name.capitalize + " " + @the_meeting_group.user.last_name.capitalize %>
      </dd>

      <dt>
        Meeting time
      </dt>
      <dd>
        <%= @the_meeting_group.meeting_time %>
      </dd>

      <dt>
        Title
      </dt>
      <dd>
        <%= @the_meeting_group.title %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_meeting_group.location %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting_group.created_at) %> ago
      </dd>

      <dt>
       Last Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_meeting_group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if @current_user == nil%>

<%else%>

<% if @current_user.id == @the_meeting_group.user.id %>

<div>
  <a href="/delete_meeting_group/<%= @the_meeting_group.id %>">
    Delete meeting group
  </a>
</div>

<div>
  <div>
    <h2>
      Edit meeting group
    </h2>

    <form action="/modify_meeting_group/<%= @the_meeting_group.id %>"  method="post" >


      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_meeting_group.title %>">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location" value="<%= @the_meeting_group.location %>">
      </div>

      <div>
        <label for="meeting_time_box">
          Meeting time
        </label>

        <input type="datetime-local" id="meeting_time_box" name="query_meeting_time"
         value="<%= @the_meeting_group.meeting_time %>">
      </div>

      <button>
        Update meeting group
      </button>
    </form>
  </div>
</div>

<hr>
<%else%>

<%end%>

<%end%>