<div>
  <div>
    <h1>
      List of all stories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new story
    </h2>

    <form action="/insert_story" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="post_box">
          Post
        </label>

        <textarea id="post_box" name="query_post" rows="3"></textarea>
      </div>

      <button>
        Create story
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Post
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_stories.each do |a_story| %>
      <tr>
        <td>
          <%= a_story.id %>
        </td>

        <td>
          <%= a_story.user_id %>
        </td>

        <td>
          <%= a_story.post %>
        </td>

        <td>
          <%= time_ago_in_words(a_story.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_story.updated_at) %> ago
        </td>

        <td>
          <a href="/stories/<%= a_story.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
