<div>
  <div>
    <h1>
      Story #<%= @the_story.id %> details
    </h1>

    <div>
      <div>
        <a href="/stories">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_story/<%= @the_story.id %>">
          Delete story
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_story.user_id %>
      </dd>

      <dt>
        Post
      </dt>
      <dd>
        <%= @the_story.post %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit story
    </h2>

    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_story.user_id %>">
      </div>

      <div>
        <label for="post_box">
          Post
        </label>

        <textarea id="post_box" name="query_post"><%= @the_story.post %></textarea>
      </div>

      <button>
        Update story
      </button>
    </form>
  </div>
</div>

<hr>
